@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* READ STUFF */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Grayed-out overlay effect */
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: -1; */
}
.modal-content {
  background-color: black;
  padding: 0px;
  border-radius: 8px;

  max-width: 800px; /* Set the maximum width of the modal */
  width: 45%; /* Set the width of the modal to 90% of the available space */
  height: 75%; /* Set the height of the modal to 60% of the available space */
  margin: auto; /* Center the modal horizontally */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-btn {
  position: relative;
  top: -10px;
  right: 0;
  margin-left: 97%;
  padding: 8px; /* Add some padding around the "x" mark for better clickability */
  cursor: pointer;
  font-size: 1.5rem; /* Set the font size for the "x" mark */
  color: #888; /* Set the color of the "x" mark */
}




.btns {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}

.main-header{
  font-family: 'Montserrat', sans-serif;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
